.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 1 0 0;
    padding: 15px;
}

// Responsive classes
@media (min-width: 576px) {
    .container {}
}

@media (min-width: 768px) {
    .container {}
}

@media (min-width: 992px) {
    .container {}
}

@media (min-width: 1200px) {
    .container {}
}