h1 {
    font-size: 45px;
    font-family: $inknut-antiqua;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-family: $inknut-antiqua;
    font-weight: normal;
    line-height: 65px;
}

h3 {}

h4 {}

h5 {}

h6 {
    font-family: $poppins;
    font-size: 20px;
    line-height: 35px;
    font-weight: 300;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-family: $poppins;
    font-weight: 300;
}


// Responsive classes
@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}