// Mixin for a flex container
@mixin flex-container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



// Responsive classes
@media (max-width: 576px) {
    header .container .header-content {
        position: relative;
    }
}


@media (min-width: 576px) and (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}