// _placeholders.scss

// Placeholder for a common text style
%common-text-style {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

// Placeholder for a clearfix
%clearfix {

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}


// Responsive classes
@media (max-width: 576px) {}

@media (min-width: 576px) and (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 992px) {}

@media (min-width: 992px) and (max-width: 1200px) {}